.index-section {
    background-color: $section;
    @include padding-top-bottom-large;
}

.rover {
    @include margin-top-bottom-large;
    @include margin-left-right-large;
    background-color: $rover;
    display: flex;


    &-left {
        width: 50%;
        @include padding-left-right-large;    
        @include padding-top-bottom-large;

        border-right: 1px solid black;


        &__picture {

            @include flex-C;
            
            & img {
                width: 450px;
                height: 450px;
            }
        }

        & p {
            text-align: center;
            margin-top: 5px;
            font-size: 14px;

        }
    }

    &-right {
        @include padding-left-right-large;    
        @include padding-top-bottom-large;
        margin-top: -40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        & h2 {
            @include padding-top-bottom-large;
        }
    }

}

.features {
    @include flex-C;
    @include margin-top-bottom-large;
    flex-direction: column;

    &__table {
        border: 1px solid #000000;
        width: 75%;
        background-color: $rover;
        @include margin-top-bottom-large;
        @include padding-bottom-small;
    }

    &__thead {
        background-color: $thead;

    }

    &__tbody {
        background-color: $tbody;
    }

    &__th, &__td {
        @include padding-left-right-large;
        
    }
}