* {
  margin: 0;
  font-family: quicksand;
  color: white;
  text-decoration: none;
  list-style: none;
}

a:hover {
  color: #f59999;
}

span {
  font-weight: bold;
}

body {
  background-color: white;
}

.alert {
  color: #7a0101;
}

/**********************************/
/**********************************/
/**********************************/
/**********************************/
/**********************************/
/**********************************/
/**********************************/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #46443e;
}

.header__picture {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 20px;
}

.header__picture img {
  height: 100px;
}

.nav {
  background-color: #362801;
}

.nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav__li {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.rover {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #4b4a4a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rover-left {
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-right: 1px solid black;
}

.rover-left__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.rover-left__picture img {
  width: 450px;
  height: 450px;
}

.rover-left p {
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
}

.rover-right {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rover-right h2 {
  padding-bottom: 20px;
  padding-top: 20px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features__table {
  border: 1px solid #000000;
  width: 75%;
  background-color: #4b4a4a;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 10px;
}

.features__thead {
  background-color: #1d1c1c;
}

.features__tbody {
  background-color: #5c5b5b;
}

.features__th, .features__td {
  padding-left: 20px;
  padding-right: 20px;
}

.ttrpg-main {
  background-color: #807b6e;
}

.textArea {
  background-color: #252525;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.cards-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #4b4a4a;
  width: 40%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.cards-card__top {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.cards-card__top h3 {
  padding-bottom: 20px;
}

.cards-card__top img {
  width: 100%;
  height: 350px;
}

.cards-card__celia img {
  height: 450px;
}

.cards-card__bottom {
  padding-bottom: 20px;
}

.cards-card__smaller {
  margin-bottom: 50px;
}

.cards-card:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: 500 linear;
  transition: 500 linear;
}

.ttrpg-Chars {
  background-color: #807b6e;
}
